extends layout

block content
    h1= title
    - if(errors){
        p(style='color: red')= errors
    -}
    form(method='POST', action='/publishers/update/'+id)
        div.form-group.row
            label.col-sm-2.col-form-label Name
            div.col-sm-10
                input.form-control(type='text', placeholder='Name', name='name', value=name)
            label.col-sm-2.col-form-label Address
            div.col-sm-10
                input.form-control(type='text', placeholder='Address', name='address', value=address)
            label.col-sm-2.col-form-label Phone
            div.col-sm-10
                input.form-control(type='tel', placeholder='Phone', name='phone', value=phone)
        input.btn.btn-success(type='submit', value='Save')

